<!DOCTYPE html>
<html>

<head>

    <title>Search Item</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>

        <h2>Lost & Found</h2>

        <div>

            <a href="/">Home</a>
            <a href="/lost">Report Lost</a>
            <a href="/found">Report Found</a>
            <a href="/search">Search</a>
            <a href="/items">All Items</a>

        </div>

    </nav>


    <div class="form-box">

        <h1>Search Item</h1>


        <form method="POST">

            <input type="text"
                   name="search"
                   placeholder="Enter item name"
                   required>

            <button type="submit">
                Search
            </button>

        </form>


        <h2>Search Results</h2>


        {% if results %}

            {% for data in results %}

            <div class="item">

                <h2>{{ data["item"] }}</h2>

                <p>
                    <b>Status:</b>
                    {{ data["type"] }}
                </p>

                <p>
                    <b>Location:</b>
                    {{ data["location"] }}
                </p>

                <p>
                    <b>Date:</b>
                    {{ data["date"] }}
                </p>

                <p>
                    <b>Contact:</b>
                    {{ data["contact"] }}
                </p>

            </div>

            {% endfor %}

        {% else %}

            <p>No item found.</p>

        {% endif %}

    </div>

</body>

</html>